.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.About{
  text-align: center;
  margin: 10rem;
  color: rgb(245, 245, 245);
}
.paraltext{
  text-align: center;
  margin-bottom: 10rem;
  color: rgb(255, 255, 255);
}
#contactText{
  margin-top: 4rem;
}

#WelcomeLayer{
  background-image: url(components/images/BGP1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}


#AboutLayer{
background-image: url(components/images/BGP2.svg) ;
background-size: cover !important;
height: 2000px !important;
}

#ProjectsLayer{
  background-image: url(components/images/BGP3.svg) ;
  background-size: cover !important;
}

#ContactLayer{
  background-image: -webkit-gradient(
    linear, right bottom, right top, from(rgba(50,50,50,0.8)),
    to(rgba(80,80,80,0.2)), color-stop(.1,#333333)
  )
}

html{
  scroll-behavior: smooth;
}

@media only screen and (max-width: 768px){

  #AboutLayer{
    height: 2150px !important;    
  }

}

@media only screen and (max-width: 450px){

  #AboutLayer{
    height: 2500px !important;    
  }

}

@media only screen and (max-width: 360px){

  #AboutLayer{
    height: 2700px !important;    
  }

}
@media only screen and (max-width: 360px){

  #AboutLayer{
    height: 2800px !important;    
  }

}