.presentation{
  display: flex;
    flex-direction: column;
    justify-content: center;
  text-align: center;
  margin-top: 8%;
  margin-inline: 8%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  color: rgb(192, 187, 187);
  }

.aboutText{
    text-align: center;
    margin: 4%;
    color: rgb(255, 255, 255);
  }

.skillContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}   

.skills{ 
margin-inline: 2rem;  
margin-top: 2rem;
margin-bottom: 2rem;
width: 10rem;
height: 10rem;
}  

#nodeimg{
  width: 14rem;
}

@media only screen and (max-width: 768px){

  .skills{
    margin-inline: 2rem;  
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 6rem;
    height: 6rem;
  }
  #nodeimg{
    width: 8rem;
  }
  .presentation{
    margin-top: 15rem;    
  }
  .skillContainer{
    margin-top: 4rem;
  } 
}

@media only screen and (max-width: 450px){
  .skills{
    margin-inline: 2rem;  
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 5rem;
    height: 5rem;
  }
  #nodeimg{
    width: 7rem;
  }
  .presentation{
    margin-top: 15rem;    
  }
  .skillContainer{
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 360px){
  .skills{
    margin-inline: 2rem;  
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 3rem;
    height: 3rem;
  }
  #nodeimg{
    width: 5rem;
  }
  .presentation{
    margin-top: 15rem;    
  }
  .skillContainer{
    margin-top: 4rem;
  }
}