.contactIcons{
    color: rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;
    margin-inline: 1vw;
    
}

.contacto1{
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    margin-inline: 8%;
    justify-content: center;
    justify-content: space-between;
}

.contacto2{
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    margin-inline: 8%;
    justify-content: center;
    justify-content: space-between;
}

@media only screen and (max-width: 450px) {

    .contactIcons{
        color: rgb(255, 255, 255);
        width: 1.5rem;
        height: 1.5rem;
        margin-inline: 1vw;   
    }
    .contacttext{
        font-size: medium;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
}



