.contenedorT{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    padding: 2rem;
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.textoT{
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.trabajos{
    width: 90%;
    height: 20vh;
    border: palegreen;
    border-style: solid;
    border-radius: 10px;
    -webkit-transition:  0.4 ease-in-out;
    transition:  0.8 ease-in-out;
    cursor: pointer;
}

.trabajos:hover{
    transform: scale(1.2)
}

@media only screen and (max-width: 768px) {

    #ProjectsLayer{
        margin-top: 50rem;
        
    }
}

@media only screen and (max-width: 450px){
    .trabajos{
        width: 80%;
        height: 15vh;
        border: palegreen;
        border-style: solid;
        border-radius: 10px;
        -webkit-transition:  0.4 ease-in-out;
        transition:  0.8 ease-in-out;
        cursor: pointer;
    }
}