.landingText{
    text-align: center;
    margin: 1rem;
    color: rgb(255, 255, 255);
}

.landing{
    text-align: center;
    margin: 3rem;
}

.retrato{
    border: solid;
    border-color: palegreen;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 20rem;
    border-radius: 150px;
    margin-top: 2rem;
}

.logolanding{
    border-radius: 300px;
    width: 20rem;
    height: 20rem;
    place-self: center;
    margin-top: 1rem;
    border: solid;
    border-color: palegreen;
}

.landingimgs{
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 768px){

    .retrato{
      width: 15rem;
      height: 15rem;     
    }
    .logolanding{
        width: 15rem;
        height: 15rem;     
      }
  
  }