.landingText{
    text-align: center;
    margin: 2rem;
}

.landing{
    text-align: center;
    margin: 4rem;
}

.retrato{
    border: solid;
    border-color: darkorchid;
    border-width: 4px;
    float: left;
    margin-left: 4vw;
    margin-top: 8vh;
    width: 20rem;
    height:  25rem;
    border-radius: 150px;
}